@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header_container {
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header_logo img {
  width: 80px;
  height: 80px;
}

.nav_list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav_item a {
  font-family: "Inter", sans-serif;
  color: white;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  padding: 5px;
  transition: all 0.5s;
}

.nav_item a:hover {
  border-bottom: 1px solid white;
}

.header_register {
  font-family: "Inter", sans-serif;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 2px;
  transition: all 0.5s;
}

.header_register:hover {
  background-color: white;
  color: blue;
}